table {
  border-collapse: collapse;
}
th {
  /* col 확인 시 background-color 주석 */
  /* background-color: lightgray; */
  border: 1px solid red;
  padding: 10px;
}
td {
  border: 1px solid red;
  padding: 10px;
}
